*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    background: #0f0f10;
    color: #ffffff;
}
.img1{
    width: 30px;
    height: 30px;
    margin-right:15px;
    margin-top: 10px;
}
.img2{
    width: 150px;
}
.left1{
    display: flex;
    margin:0px 5px 0px 25px;
    width: 35%;
}
nav{
    display: flex;
}
.right1{
    display: flex;
    justify-content: center;
    gap: 15px;
   
}
.right1 button{
    width: 55px;
    border-radius: 5px;
    background-color: transparent;
    
}
.onear{
    width: 220px;
    margin-left: 50px;
    margin-top: 50px;

}
.beat{
    margin: 10px 5px 5px 5px;
    font-size: 30px;
}
.overview{
    margin: 20px 5px 5px 5px;
}
.right p{
    margin: 20px 5px 5px 5px;
    font-size: 15px;
    line-height: 25px;
}
.right button{
    margin:20px 5px 5px 5px;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: transparent;
}
footer{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; 
}
.specslogo{
    margin: auto;
    padding: auto;
    margin-top: 60px;
}
.left{
    width: 40%;
    margin-left: 10px;
}
.bluetooth {
    margin: 10px 0px 0px 140px;
    font-size: 10px;
}
.battery {
    margin: 10px 0px 0px 110px;
    font-size: 10px;
}
.load {
    margin: 10px 0px 0px 110px;
    font-size: 10px;
}
.microphone {
    margin: 10px 0px 0px 140px;
    font-size: 10px;
}
.main1{
    display: flex;
}
.case1{
    margin: auto;
    padding: auto;
    margin-top: 60px;
}
.caseimg{
    margin: 30px;
    width: 200px;
}
.case{
    display: flex;
}
.casep{
    margin-top: 100px ;
    margin-left: 80px;
    font-size: 15px;
}
.casep button{
    margin: 30px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 20px;
}
.fourthpage{
    margin-top: 50px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
}
.aa,
.bb,
.buynow span,
.fourthpage,
.buynow,
.fourthpage img{
    background-color: #272626;
    border-radius: 10px;
}
.buynow h3{
    font-size: 18px;
    margin-left: 10px;
}
.buynow p{
    font-size: 10px;
    font-weight: 900;
    margin: 10px;
    margin-top: 20px;
}
.headphone{
    width: 300px;
    height: 200px;
    margin: 10px;
}
.fourthpage button{
    margin: 20px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 5px;
    border-radius: 10px;
}
.product{
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.row{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    margin: px;
}
.row img{
    width: 100px;
}
.dis{
    display: flex;
}
.dis img{
    width: 20px;
    height: 22px;
    margin: 10px 10px 10px 20px;
}
.product5{
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-left: -175px;
}
.end{
    display: flex;
    gap: 20px;
}
.end img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
    margin-top: 10px;
    margin-left: 25px;
}
.end h3{
    margin-bottom: 20px;
}
.end p{
    margin: 10px;
}
.email{
    width: 100px;
    height: 50px;
}